@font-face{
    src: url(../fonts/Quicksand-Regular.ttf);
    font-family: Quicksand-regular;
}
@font-face{
    src: url(../fonts/Quicksand-Bold.ttf);
    font-family: Quicksand-bold;
}
@font-face{
    src: url(../fonts/Quicksand-SemiBold.ttf);
    font-family: Quicksand-semi;
}
@font-face{
    src: url(../fonts/Quicksand-Medium.ttf);
    font-family: Quicksand-medi;
}
a {
    text-decoration: none;
}
h1 {
    font-family: Quicksand-bold;
    font-size: 50px;
}
p{
    line-height: 1.6;
    font-size: 17px;
}
* {
    font-family:Quicksand-regular;;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin:0 auto;
    box-shadow: 4px 2px 3px rgba(0, 0, 0, 0.233);
    z-index: 99999;
    background-color: transparent;
    position: relative;
}
header .container {
    max-width: 1280px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 100px;
}
header .container .logo a{
    color:#fff;
    font-size:35px;
    font-family: Quicksand-semi;
}
header .container .navbar > a, 
header .container .sub-nav >a {
    margin:0 15px;
    color:#fff;
    transition: .3s all;
}

header .container .navbar > a:hover, 
header .container .navbar .sub-nav >a:hover,
header .container .navbar a.active {
    color: #ef9632;
    transition: .3s all;
}

header .container .navbar{
    position: relative;
    display: flex;
}
header .container .navbar .sub-menu a{
    color: #000;
}
header .container .navbar .sub-menu{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    position: absolute;
    padding: 15px 25px;
    background-color: #fff;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.116);
    top: 30px;
    right: 22%;
    text-align: left;
    line-height:2;
    visibility: hidden;
    opacity: 0;
}

header .container .navbar .sub-nav:hover .sub-menu {
    visibility: visible;
    opacity: 1;
}
.carousel{
    background: url(/img/banner.jpg) no-repeat center center;
    background-size: cover;
    margin-top: -100px;
    height: 700px;
    width:100%;
    position: relative;
}

.carousel .content{
    width: 30%;
    position:absolute;
    top:50px;
    left:300px;
    bottom: 0;
    right:0;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.carousel .content p:first-child{
    color:#ef9632;
}
.carousel .content p:nth-child(3){
    margin: 25px 0;
    color: #fff;
}

.carousel .content h1{
    line-height: 1.2;
    color: #fff;
}


.carousel .content button{
    width:fit-content;
    font-size: 17px;
    background-color:#ef9632;
    border:none;
    border-radius:5px;
    padding: 10px 20px;
    color:#fff;
    cursor:pointer;
    transition: .3s all;
}
.carousel .content button:hover{
    background-color:#ff3838;
    transition: .3s all;
}

.explore {
    max-width: 1280px;
    margin: 80px auto;
    text-align: center;
}

.explore .list{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 120px 0;
}

.explore .list .item h1,
.explore .list-2 .item h1{
    font-size: 18px;
    line-height: 3;
}

.explore .list .item i,
.explore .list-2 .item i{
    color:#ef9632;
    font-size:25px;
}

.explore .list-2{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
    text-align: left;
    margin-top: 80px;
}

.explore .list-2 .item-1 img{
    width:90%;
}

.explore .list-2 .item-2{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}
.explore .list-2 .item-2 .item{
    margin-right: 50px;
}

.stats {
    background-color: #0f3285;
    padding: 80px;
}
.stats .list{
    max-width:1280px;
    margin: auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    text-align: center;
}
.stats i{
    color:#ef9632;
    font-size:40px;
}

.stats h1, .stats p{
    color:#fff;
    line-height: 1.5;
}

.agent {
    max-width: 1280px;
    margin: 80px auto;
    text-align: center;
}

.agent .list {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 80px 0;
}

.agent .list .item img{
    box-shadow:  0 20px 40px -10px rgba(0, 0, 0, 0.301);
    margin-bottom:10px;
    width: 90%;
}
.agent .list .item p:nth-child(2){
    color: #ef9632;
    font-family:Quicksand-semi;
}

.agent .list .item h1{
    font-size: 22px;
    line-height: 1.3;
    margin-bottom:15px;
    font-family:Quicksand-semi;
}

.agent .list .item .social i{
    margin: 20px 10px;
    transition: .3s all;
}

.agent .list .item .social i:hover{
    opacity: 0.6;
    transition: .3s all;
}
.agent .list .item .social i.fa-facebook-f{
    color:#3b5998;
}
.agent .list .item .social i.fa-twitter{
    color:#1da1f2;
}
.agent .list .item .social i.fa-dribbble{
    color:#ea4c89;
}
.agent .list .item .social i.fa-google-plus-g{
    color:#F44336;
}

.tours {
    max-width: 1280px;
    margin: 120px auto;
    text-align: center;
}

.tours .list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:30px;
    text-align: left;
    margin-top:80px;
}

.tours .list .item h1{
    font-size:25px;
    line-height: 2;
}
.tours .list .item img{
    width: 100%;
    display: block;
}
.tours .list .item a, 
.tours .list .item span{
    color:#fff;
    line-height: 2;
    font-size: 15px;
}
.tours .list .item .content{
    background-color: #0F3285;
    padding: 15px 20px 20px 20px;
    color:#fff;
}

.tours .list .item .content .time{
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.tours .list .item .content .content-bottom{
    border-top: 1px solid #eee;
    margin-top:15px;
    padding-top:15px;
}

.tours .list .item .content .content-bottom{
    display: flex;
    justify-content: space-between; 
}

.tours .list .item .content i{
    margin-right: 5px;
}

.tours .list .item .content .time span:hover i,
.tours .list .item .content .content-bottom a:hover{
    color:#ef9632;
}
.tours .list .item{
    transition: .3s all;
}
.tours .list .item:hover{
    box-shadow:  0 20px 40px -10px rgba(0, 0, 0, 0.637);
    transition: .3s all;
}

.tours .list .item:hover img{
    cursor:pointer;
}

.plan{
    background-color: #1E272E;
    padding: 100px;
}

.plan .content {
    max-width: 1280px;
    margin:0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:30px;
}

.plan .content .col-left{
    color:#fff;
}

.plan .content .col-left h1{
    margin-bottom: 20px;
}

.plan .content .col-right img {
    width:90%;
}

.testimonial {
    max-width: 1280px;
    margin: 80px auto;
    text-align: center;
}

.testimonial .content {
    margin: 0 auto;
    text-align: left;
    margin-top: 80px;
    width: 50%;
}

.testimonial .content p{
    line-height: 1.8;
}
.testimonial .content i{
    font-size: 45px;
    color:#ef9632;
    margin-right: 10px;
}

.testimonial .content .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin-top: 20px;
}

.testimonial .content .info img{
    border-radius: 90px;
}

.testimonial .content .info p:first-child{
    font-family: Quicksand-bold;
    color:red;
    line-height: 1;
}
.testimonial .content .info p:last-child{
    color:#8c9398;
    font-size: 13px;
}

.contact {
    background-color:#1E272E;
    padding: 40px 0;
}

.contact .container{
    max-width: 1280px;
    margin: 0 auto;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 40px;
}

.contact .container h1 {
    font-size: 22px;
    line-height: 2.5;
    font-family:Quicksand-semi;
    color:#fff;
}

.contact .container ul li,
.contact .container p,
.contact .container a{
    color: #65828E;
    list-style-type: none;
    transition: .3s all;
    line-height: 2.5;
}
.contact .container .newsletter p{
    line-height: 1.5;
    margin-bottom: 15px;
}
.contact .container a:hover{
    color:#fff;
    transition: .3s all;
}

.contact .container .newsletter input{
    padding: 15px;
    width: 100%;
    position:relative;
    background-color: transparent;
    border: 1px solid #65828E;
    border-radius: 5px;
}

.contact .container .newsletter button{
    position: relative;
    right: -365px;
    top: -38px;
    z-index:999;
    background-color: transparent;
    border:none;
    color:#65828E;
    font-size: 20px;
    cursor:pointer;
}